 <!DOCTYPE html>
<html>
<head>
<link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<div class="container">
<br>
<p><%= @name.capitalize %>,</p>
<p>I carry your heart with me,</p>
<p>(I carry it in my heart).</p>
<p>-<%= @name2.capitalize %></p>
</div>
</body>
</html>
