 <!DOCTYPE html>
<html>
<head>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<p><%= @name.capitalize %>,</p>
<p>Did it hurt when you fell out of heaven?</p>
<p>Yours, <%= @name2.capitalize %></p>
</body>
</html>

