<!DOCTYPE html>
<html>
<head>
<link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<div class="container">
<h1>Welcome!</h1>
<p>Tell someone how you really feel.</p>

&nbsp;

<h3>Literary</h3>
<p> Shakespeare /theirname/yourname/romeojuliet</p>
<p> Austen /theirname/yourname/mrdarcy</p>
<p> E.E. Cummings /theirname/yourname/cummings<p>

&nbsp;

<h3>Cheesy</h3>
<p>If you want to add your number, just add /yournumber at the end</p>
<p>Heaven theirname/yourname/heaven</p>
<p>Insurance theirname/yourname/insurance</p>

&nbsp;

<h3>Cheeky</h3>
<p>These are more likely to earn you a slap, but whatever man.</p>
<p>'Nice ass' - theirname/yourname/ass</p>

&nbsp;

<h3>Other languages</h3>
<p>Polish : theirname/yourname/polish [translation: I love you with all my heart]</p>

<br></br>
<br></br>
</div>
</body>
</html>
