<!DOCTYPE html>
<html>
<head>
<link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<div class="container">
<br>
<p><%= @name.capitalize %>,</p>
<p>I was so enchanted by your beauty when I saw you that I ran into a wall. So I am going to need your name and number for insurance purposes.</p>
<p>Regards, <%= @name2.capitalize %></p>
</div>
</body>
</html>