<!DOCTYPE html>
<html>
<head>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<p>Dearest <%= @name.capitalize %>,</p>
<p>In vain have I struggled. It will not do. My feelings will not be repressed. You must allow me to tell you how ardently I admire and love you.</p>
<p><%= @name2.capitalize %>
</body>
</html>

