 <!DOCTYPE html>
<html>
<head>
<link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<div class="container">
<br>
<p><%= @name.capitalize %>,</p>
<p>Kocham cię.z całego serca.</p>
<p>-<%= @name2.capitalize %></p>
</div>
</body>
</html>

