<!DOCTYPE html>
<html>
<head>
<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
</head>
<body>
<p>Dearest <%= @name.capitalize %>,</p>
<p>My bounty is as boundless as the sea,</p>
<p>My love as deep; the more I give to thee,</p>
<p>The more I have, for both are infinite.</p> 
<p><%= @name2.capitalize %>
</body>
</html>


